<!DOCTYPE html>
<html>
    <head>
        <title>
            About file
        </title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>header}}
        <p> This site was created by Manoj. It uses data from mapbox.com and darksky.net!</p>
        <h1>About</h1>
        <img src="img/1.jpg">
         
        {{>footer}}
    </body>
</html>