<!DOCTYPE html>
<html>
    <head>
        <title>
            About file
        </title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
          {{>header}}
        <img src="img/1.jpg">
          {{>footer}}
    </body>
</html>